[package]

name = "differential-dataflow"
version = "0.13.6"
authors = ["Frank McSherry <fmcsherry@me.com>"]

description = "An incremental data-parallel dataflow platform"

# These URLs point to more information about the repository
documentation = "https://docs.rs/differential-dataflow"
homepage = "https://github.com/TimelyDataflow/differential-dataflow"
repository = "https://github.com/TimelyDataflow/differential-dataflow.git"
keywords = ["differential", "dataflow"]
license = "MIT"
readme = "README.md"
edition="2021"

[workspace]
members = [
    ".",
    # "advent_of_code_2017",
    "dogsdogsdogs",
    "experiments",
    "interactive",
    "server",
    "server/dataflows/degr_dist",
    "server/dataflows/neighborhood",
    "server/dataflows/random_graph",
    "server/dataflows/reachability",
    #"tpchlike",
    "doop"
]

[dev-dependencies]
bincode = "1.3.1"
indexmap = "2.1"
rand="0.4"
byteorder="1"
itertools="^0.13"
serde_json = "1.0"
graph_map = "0.1"
bytemuck = "1.18.0"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
fnv="1.0.2"
timely = {workspace = true}
columnar = "0.3"

[workspace.dependencies]
timely = { version = "0.18", default-features = false }
#timely = { path = "../timely-dataflow/timely/", default-features = false }

[features]
default = ["timely/getopts"]

[profile.release]
opt-level = 3
debug = true
rpath = false
lto = true
debug-assertions = false
codegen-units = 4
